<div class="row">
    <div class="col s6 offset-s3">
        <p><a routerLink="">Home</a></p>
        <h5>Add a new author:</h5>
        <div class="card">
            <div class="card-content">
                <div class="input-field">
                    <input [(ngModel)]="newAuthor" id="name" name="name" type="text">
                    <label for="name">Name</label>
                </div>
                <div>
                    <button class="waves-effect waves-light btn red" routerLink="">Cancel</button>&nbsp;
                    <button class="waves-effect waves-light btn" (click)="addAuthor()">Submit</button>
                </div>
            </div>
        </div>
        <p *ngIf="nameError">The author's name must be at least three characters.</p>
    </div>
</div>